:root {
  --white: #FFF;
  --black: #000;
  --grey-01: #838383;
  --grey-02: #bababa;
  --grey-03: #e0e0e0;
  --night-blue-01: #031B5e;
  --night-blue-02: #465786;
  --night-blue-03: #919BB6;
  --night-blue-04: #D4D8E2;
  --night-blue-05: #f4f5f8;
  --violet-01: #815CF3;
  --violet-03: #D9CEFB;
  --violet-04: #ECE7FD;
  --orange-01: #FF742F;
  --aqua-01: #5ED2BC;
  --coral: #FF4F4F;
  --status-warning-light: #D5BF9C;
  --status-error-light: #E1A8A8;
  --status-success-light: #A1D1C8;
  --content-border: #E5EAE7;
}

@font-face {
  font-family: Gellix;
  src: url(fonts/gellix/Gellix-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Gellix;
  src: url(fonts/gellix/Gellix-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Gellix;
  src: url(fonts/gellix/Gellix-SemiBold.ttf);
  font-weight: 600;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-family: "Gellix", 'Open Sans', sans-serif;
  color: var(--black);
  background-color: rgba(244, 245, 248, 0.5);
}

.main-container {
  z-index: -10;
}


/* Typography */

.Info, .Info2, .info, .FeedItem .Date, .FeedItem .FeedDescription {
  color: var(--grey-01);
}

.help {
  color: var(--grey-01);
}

.help .help-title {
  border-bottom: 1px solid var(--grey-03);
}

.pager-count {
  font-weight: normal;
}

.content > h1 {
  margin-left: -1.875rem;
  margin-right: -1.875rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-bottom: 0;
  border-bottom: 2px solid var(--content-border);
  min-height: 78px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


/* Containers */

.plank {
  background-color: var(--night-blue-05);
}

.plank-title {
  font-weight: 500;
}

.plank-icon {
  color: var(--black);
}

.plank-options .dropdown-toggle {
  color: var(--black);
}

.main-row {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.main {
  padding: 0 1.5rem;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0 2px 4px 0 var(--grey-02);
  box-shadow: 0 2px 4px 0 var(--grey-02);
  margin-top: 0;
  min-height: unset;
  overflow-x: hidden;
}

.main .content {
  padding-bottom: 3rem;
}

@media screen and (max-width: 991px) {
  .main {
    margin: 0 1rem;
  }
}

.header-block {
  min-height: 78px;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: 2px solid var(--content-border);
}

.subheading-block, .header-menu, .main .toolbar {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.toolbar > :last-child {
  padding-right: 0;
}

.form-group {
  border-bottom: 1px solid var(--content-border);
}

.row, .plank-container-grid, .media-addon, .media-callout, .label-selector, .form-group, .footer {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.main .form-group > .input-wrap {
  padding-right: 1.5rem;
}

.form-group > .label-wrap {
  padding-left: 1.5rem;
}

.form-group > .label-wrap-wide {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.form-group .input-wrap-right {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pager-wrap.Pager {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


/* Alerts */

.alert {
  border-radius: 4px;
  padding: 1.5em 1em;
}

.alert-info, .InfoMessage {
  background-color: var(--status-warning-light);
  color: var(--black);
  border: none;
}

.alert-danger, div.Messages.Errors {
  background-color: var(--status-error-light);
  color: var(--black);
  border: none;
}

.alert-warning, .AlertMessage, .WarningMessage {
  background-color: var(--status-warning-light);
  color: var(--black);
  border: none;
}

.alert-success, .CasualMessage {
  background-color: var(--status-success-light);
  color: var(--black);
  border: none;
}


/* Navbar */

.navbar {
  height: 80px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--night-blue-01);
  border: none;
}

.navbar > .navbar-brand > .btn {
  display: none;
}

.navbar > .navbar-memenu > * {
  display: none;
}

.navbar .nav-item {
  border: none;
}

.navbar .nav-item:first-child {
  border: none;
}

.navbar .nav-link.active {
  border: none;
  background: transparent;
  border-radius: 0;
  font-weight: bold;
}

.navbar .nav-link:hover, .navbar .nav-link.active:hover {
  border-radius: 0;
  background: transparent;
}

.navbar .nav-link:hover:after {
  content: "";
  position: absolute;
  width: 84px;
  bottom: 0;
  top: 0;
  border-bottom: 3px solid var(--violet-03);
}


.navbar .nav-link.active:after {
  content: "";
  position: absolute;
  width: 84px;
  bottom: 0;
  top: 0;
  border-bottom: 3px solid var(--violet-03);
}

@media screen and (max-width: 991px) {
  .navbar {
    height: 50px;
  }

  .navbar .nav-pills .nav-link {
    font-size: 0.875rem;
  }

  .navbar .nav-link.active:after {
    width: 75px;
  }
}


/* Sidebar */

.panel-nav .nav-link.active,
.panel-nav .nav-link.drop-enabled,
.panel-nav .file-upload input:focus ~ .nav-link.file-upload-choose,
.file-upload .panel-nav input:focus ~ .nav-link.file-upload-choose,
.panel-nav .file-upload input:focus ~ .nav-link.file-upload-browse,
.file-upload .panel-nav input:focus ~ .nav-link.file-upload-browse,
.panel-nav .file-upload input:hover ~ .nav-link.file-upload-choose,
.file-upload .panel-nav input:hover ~ .nav-link.file-upload-choose,
.panel-nav .file-upload input:hover ~ .nav-link.file-upload-browse,
.file-upload .panel-nav input:hover ~ .nav-link.file-upload-browse,
.panel-nav select.nav-link:focus, .panel-nav .nav-link.active:hover {
  background-color: var(--violet-03);
  color: var(--night-blue-01);
}

.panel-nav .nav-link:hover, .panel-nav .nav-link.hover {
  background-color: var(--violet-04);
  color: var(--grey-01);
}

.nav-pills .nav-link {
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
  font-weight: 500;
}

.panel-nav a {
  color: var(--grey-01);
}

.nav-heading a {
  font-size: 1rem;
  border-bottom: 1px solid var(--grey-03);
  padding-top: 0.875em;
  padding-bottom: 0.875em;
  font-weight: 500;
}

.nav-heading a::before {
  font-size: 12px;
}

/* Buttons */

.btn-group {
  font-size: 0.875rem;
}

.Button,
.btn,
.header-block .btn,
.header-block .Button,
.file-upload-browse {
  height: 40px;
  border-radius: 0.25em;
  font-size: 1em;
  padding: 0.5em 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .Button,
  .btn,
  .header-block .btn,
  .header-block .Button,
  .file-upload-browse {
    font-size: 0.75rem !important;
  }
}

.btn.pager-previous,
.btn.pager-next {
  width: 31px;
  height: 28px;
}

.btn.pager-previous {
  border-radius: 6px 0 0 6px;
}

.btn.pager-next {
  border-radius: 0 6px 6px 0;
}

.pager .btn, .pager .btn:focus {
  background-color: var(--night-blue-01);
  border: 1px solid var(--night-blue-01);
  color: var(--white);
}

.pager .btn:hover {
  background-color: var(--night-blue-02);
  border: 1px solid var(--night-blue-02);
  color: var(--white);
}

.btn.pager-previous > .icon-svg,
.btn.pager-next > .icon-svg {
  width: 20px;
  height: 100%;
  margin: auto;
}

#StatsNavPrev, #StatsNavNext {
  width: 40px;
  height: 40px;
  border: 1px solid var(--night-blue-01);
  background-color: var(--night-blue-01);
  color: var(--white);
}

#StatsNavPrev:hover, #StatsNavNext:hover {
  background-color: var(--night-blue-02);
  border-color: var(--night-blue-02);
}

#StatsNavPrev:disabled, #StatsNavNext:disabled {
  background-color: var(--white);
  border: 1px solid var(--grey-02);
  color: var(--grey-02);
}

#StatsNavPrev {
  border-radius: 4px 0 0 4px;
}

#StatsNavNext {
  border-radius: 0 4px 4px 0;
}

.file-upload-choose {
  border: 1px solid var(--grey-02);
  height: 40px;
  color: var(--black);
}

.file-upload-browse {
  border: 1px solid var(--night-blue-01);
  border-radius: 0 4px 4px 0;
  color: var(--night-blue-01);
  font-weight: 600;
}

.drawer-toggle:hover, .drawer-toggle:active {
  background-color: transparent;
}

.file-upload-browse:active,
.btn-secondary.drop-enabled,
select.btn-secondary:focus,
.file-upload input:hover ~ .btn-secondary.file-upload-choose,
.active.file-upload-browse, .file-upload-browse.drop-enabled,
.file-upload input:hover ~ .file-upload-browse,
.open > .btn-secondary.dropdown-toggle,
.open > .dropdown-toggle.file-upload-browse {
  border: 1px solid var(--night-blue-02);
  color: var(--night-blue-02);
  background-color: var(--white);
}

.file-upload input:focus ~ .btn-secondary.file-upload-choose,
.file-upload input:focus ~ .file-upload-browse,
select.file-upload-browse:focus {
  border: 1px solid var(--night-blue-01);
  background-color: var(--night-blue-01);
  color: var(--white);
}

.file-upload input:hover ~ .file-upload-choose,
.file-upload input:hover ~ .file-upload-browse {
  border: 1px solid var(--night-blue-02);
}

.file-upload input:focus ~ .file-upload-choose,
.file-upload input:focus ~ .file-upload-browse {
  border: 1px solid var(--night-blue-01);
}

.btn-primary {
  background-color: var(--night-blue-01);
  color: var(--white);
  font-weight: 600;
  border: 1px solid var(--night-blue-01);
}

.btn-primary:hover {
  background-color: var(--night-blue-02);
  border: 1px solid var(--night-blue-02);
}

.Button:disabled,
.btn.btn-primary:disabled,
.btn.btn-primary.disabled {
  background-color: var(--grey-02);
  color: var(--white);
}

.btn-secondary {
  background-color: var(--white);
  color: var(--night-blue-01);
  font-weight: 600;
  border: 1px solid var(--night-blue-01);
}

.btn-secondary:hover {
  background-color: var(--white);
  color: var(--night-blue-02);
  border: 1px solid var(--night-blue-02);
}

.btn-secondary:active,
.btn-secondary.active,
.btn-secondary:focus,
.btn-secondary.focus {
  background-color: var(--night-blue-01);
  color: var(--white);
  border-color: var(--night-blue-01);
}

.btn-secondary.active:hover {
  background-color: var(--night-blue-02);
  border-color: var(--night-blue-02);
}


.file-upload-browse:focus,
.focus.file-upload-browse {
  background-color: var(--white);
  border: 1px solid var(--night-blue-01);
  color: var(--night-blue-01);
}

.btn.disabled,
.btn.btn-secondary:disabled,
.btn.btn-secondary.disabled {
  background-color: var(--white);
  color: var(--grey-02);
  border: 1px solid var(--grey-02);
}

.btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-block .btn-icon-border {
  border: none;
}

.btn-icon-border, .btn-icon {
  background: transparent;
  color: var(--night-blue-01);
  margin: 0;
  padding: 0.5em 0 !important;
}

.media-addon .btn-icon-border {
  border: none;
}

.btn-icon-border:hover, .btn-icon:hover {
  background: transparent;
  color: var(--night-blue-02);
}

.btn-icon-border:focus, .btn-icon:focus {
  background: transparent;
  color: var(--night-blue-02);
}

.btn + .btn,
.Button + .btn,
.btn + .Button,
.Button + .Button,
.file-upload-browse + .btn,
.file-upload-browse + .Button,
.btn + .file-upload-browse,
.Button + .file-upload-browse,
.file-upload-browse + .file-upload-browse {
  margin-left: 1em;
}


/* Inputs */

.search-wrap .search-icon-search-wrap {
  left: unset;
  right: 0;
}

.color-picker-preview {
  border-radius: 0.25em;
  top: 0.5em;
  right: 0.5em;
  width: 24px;
  height: 24px;
}

.form-control, .ac_input {
  border: 1px solid var(--grey-02);
  border-radius: 0.25em;
  padding: 0.5em 1em;
  color: var(--black);
  font-size: 1em;
}

input.form-control {
  height: 40px;
}

.form-control:hover,
.ac_input:hover {
  border: 1px solid var(--night-blue-02);
}

.form-control:focus,
.ac_input:focus {
  border: 1px solid var(--night-blue-01);
}

.textbox-suffix::after {
  font-size: 1em;
  color: var(--grey-01);
  padding-right: 0.5em;
}

.textbox-suffix input {
  padding-right: 2em;
}

select, select.form-control, select.ac_input {
  height: 40px;
  color: var(--black);
  border: 1px solid var(--grey-02);
}

select:hover, select.form-control:hover, select.ac_input:hover {
  border: 1px solid var(--night-blue-02);
}

select:focus, select.form-control:focus, select.ac_input:focus {
  border: 1px solid var(--night-blue-01);
}

.search-wrap .form-control, .search-wrap .ac_input {
  border-radius: 0.25em;
  font-weight: 600;
  padding-left: 1em;
}

.iradio, .icheckbox {
  border: 1px solid var(--grey-02);
  width: 1.375em;
  height: 1.375em;
}

.iradio.checked::before {
  width: 1.375em;
  height: 1.375em;
  border: 6px solid var(--night-blue-01);
  border-radius: 100%;
}

.icheckbox.checked {
  background-color: var(--night-blue-01);
  border: 1px solid var(--night-blue-01);
  font-size: 1em;
}

.icheckbox.checked.focus {
  background-color: var(--night-blue-02);
  border: 1px solid var(--night-blue-02);
}

.iradio:hover, .iradio.hover,
.icheck-label:hover .iradio,
.icheckbox:hover, .icheckbox.hover,
.icheck-label:hover .icheckbox {
  background-color: transparent;
  border: 1px solid var(--night-blue-02);
}

.icheckbox.checked.hover {
  background-color: var(--night-blue-02);
  border: 1px solid var(--night-blue-02);
}


.icheck-label:focus
.iradio, .iradio:focus, .iradio.focus,
.icheck-label:focus .icheckbox,
.icheckbox:focus, .icheckbox.focus {
  background-color: transparent;
  border: 1px solid var(--night-blue-01);
}


/* Toggles */

.toggle-wrap,
.toggle-wrap-sm,
.table-data .toggle-wrap {
  width: 56px;
  height: 32px;
}

.toggle-wrap .toggle-well-on,
.toggle-wrap input[type=checkbox]:checked + label::before,
.toggle-wrap .toggle-wrap-sm.toggle-wrap-on .toggle-well,
.toggle-wrap .toggle-wrap-sm.toggle-wrap-on input[type=checkbox] + label::before,
.toggle-wrap-sm.toggle-wrap-on .toggle-wrap .toggle-well,
.toggle-wrap-sm.toggle-wrap-on .toggle-wrap input[type=checkbox] + label::before,
.table-data .toggle-wrap-on.toggle-wrap .toggle-wrap input[type=checkbox] + label::before,
.toggle-wrap.toggle-wrap-on .toggle-well, .toggle-wrap.toggle-wrap-on input[type=checkbox] + label::before,
.table-data .toggle-wrap-on.toggle-wrap .toggle-well {
  background-color: var(--night-blue-01);
  border-color: var(--night-blue-01) !important;
}

.toggle-wrap .toggle-slider-on,
.toggle-wrap input[type=checkbox]:checked + label::after,
.toggle-wrap .toggle-wrap-sm.toggle-wrap-on .toggle-slider,
.toggle-wrap .toggle-wrap-sm.toggle-wrap-on input[type=checkbox] + label::after,
.toggle-wrap-sm.toggle-wrap-on .toggle-wrap .toggle-slider,
.toggle-wrap-sm.toggle-wrap-on .toggle-wrap input[type=checkbox] + label::after,
.table-data .toggle-wrap-on.toggle-wrap .toggle-wrap input[type=checkbox] + label::after,
.toggle-wrap.toggle-wrap-on .toggle-slider, .toggle-wrap.toggle-wrap-on input[type=checkbox] + label::after,
.table-data .toggle-wrap-on.toggle-wrap .toggle-slider {
  left: 1.875rem;
}

.toggle-wrap .toggle-well,
.toggle-wrap input[type=checkbox] + label::before,
.table-data .toggle-wrap .toggle-well {
  border-radius: 0.25rem;
  width: 3.5rem;
  height: 2rem;
}

.toggle-wrap:hover .toggle-well,
.toggle-wrap:hover input[type=checkbox] + label::before {
  border: 1px solid var(--night-blue-02);
}

.toggle-wrap:focus .toggle-well,
.toggle-wrap:focus input[type=checkbox] + label::before {
  border: 1px solid var(--night-blue-01);
}

.toggle-wrap .toggle-slider,
.toggle-wrap input[type=checkbox] + label::after,
.table-data .toggle-wrap .toggle-slider {
  border: 1px solid var(--grey-02);
  border-radius: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  top: 0.375rem;
  left: 0.375rem;
}


/* Users table */

.table-data-head tr, .table-data thead tr {
  background-color: rgba(212, 216, 226, 0.5);
}

.table-data-head th, .table-data thead th, .table-data-head td, .table-data thead td {
  padding: 0.75rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.table-data-head th:first-of-type, .table-data thead th:first-of-type,
.table-data-head td:first-of-type, .table-data thead td:first-of-type {
  padding: 0.75rem 0.75rem 0.75rem 1.5rem;
}

.table-data-head th:last-of-type, .table-data thead th:last-of-type,
.table-data-head td:last-of-type, .table-data thead td:last-of-type {
  padding: 0.75rem 1.5rem 0.75rem 0.75rem;
}


.table-data-cell, .table-summary th, .table-summary td, .table-data th, .table-data td {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

table .media-sm .media-title,
table .media-sm .info {
  font-size: 1rem;
}

table .media-sm .media-image-wrap {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

table .media-sm .media-image-wrap img {
  height: 48px;
  width: 48px;
}

table .media-sm .media-left {
  height: 48px;
  padding-right: 0.8rem;
}

table .media-sm {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.table-data-body tr:hover, .table-summary tbody tr:hover, .table-data tbody tr:hover {
  background-color: var(--night-blue-05);
}


/* Links */

a,
.help a {
  color: var(--night-blue-01);
  font-weight: 500;
  text-decoration: none;
  border: none;
}

a:hover,
.help a:hover {
  color: var(--night-blue-02);
  text-decoration: underline;
}

a:focus,
.help a:focus {
  color: var(--night-blue-01);
}


/* Mobile menu */

.drawer-show .main {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  z-index: -5;
}

.drawer-show .main::after {
  background: none;
}

@media screen and (max-width: 991px) {
  .drawer-show .panel-left {
    background-color: var(--white);
    z-index: 0;
    border-radius: 0 6px 6px 0;
    position: absolute;
    top: 110px;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 222px;
    height: calc(100% - 110px);
    padding-top: 16px;
    overflow: auto;
  }
}

.drawer-only .card-user {
  display: none;
}

.drawer-show .main-row {
  max-height: calc(100vh - 110px - 1.5rem);
  overflow: hidden;
}

.drawer-show .main-row::after {
  background: rgba(0,0,0,0.5);
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  content: "";
  z-index: -4;
}


/* Dashboard chart */

.nav-stats-item#StatsUsers.active,
.nav-stats-item#StatsUsers:hover,
.nav-stats-item#StatsUsers:active,
.nav-stats-item#StatsUsers:focus {
  color: var(--aqua-01);
}

.ChartStatsUsers .c3-circle,
.ChartStatsUsers .c3-area,
.ChartStatsUsers .c3-event-rect:hover,
.nav-stats-users:hover .c3-event-rect:hover{
  fill: var(--aqua-01) !important;
}

.ChartStatsUsers .c3-line,
.nav-stats-users.active .c3-line,
.ChartStatsUsers .c3-xgrid-focus {
  stroke: var(--aqua-01) !important;
}

.nav-stats-item#StatsDiscussions.active,
.nav-stats-item#StatsDiscussions:hover,
.nav-stats-item#StatsDiscussions:active,
.nav-stats-item#StatsDiscussions:focus {
  color: var(--orange-01);
}

.ChartStatsDiscussions .c3-circle,
.ChartStatsDiscussions .c3-area,
.ChartStatsDiscussions .c3-event-rect:hover,
.nav-stats-discussions:hover .c3-event-rect:hover{
  fill: var(--orange-01) !important;
}

.ChartStatsDiscussions .c3-line,
.nav-stats-discussions.active .c3-line,
.ChartStatsDiscussions .c3-xgrid-focus {
  stroke: var(--orange-01) !important;
}

.nav-stats-item#StatsPageViews.active,
.nav-stats-item#StatsPageViews:hover,
.nav-stats-item#StatsPageViews:active,
.nav-stats-item#StatsPageViews:focus {
  color: var(--coral);
}

.ChartStatsPageViews .c3-circle,
.ChartStatsPageViews .c3-area,
.ChartStatsPageViews .c3-event-rect:hover,
.nav-stats-pageviews:hover .c3-event-rect:hover{
  fill: var(--coral) !important;
}

.ChartStatsPageViews .c3-line,
.nav-stats-pageviews.active .c3-line,
.ChartStatsPageViews .c3-xgrid-focus {
  stroke: var(--coral) !important;
}

.nav-stats-item#StatsComments.active,
.nav-stats-item#StatsComments:hover,
.nav-stats-item#StatsComments:active,
.nav-stats-item#StatsComments:focus {
  color: var(--violet-01);
}

.ChartStatsComments .c3-circle,
.ChartStatsComments .c3-area,
.ChartStatsComments .c3-event-rect:hover,
.nav-stats-comments:hover .c3-event-rect:hover {
  fill: var(--violet-01) !important;
}

.ChartStatsComments .c3-line,
.nav-stats-comments.active .c3-line,
.ChartStatsComments .c3-xgrid-focus {
  stroke: var(--violet-01) !important;
}


/* Other */

.vanilla-logo {
  background: url("images/puheet-logo-white.svg") no-repeat;
  background-size: contain;
  display: flex;
}

.navbar .vanilla-logo {
  align-self: center;
  width: 97px;
  height: 28px;
  background-position-y: center;
  font-size: 0;
}

.ReleasesColumn, .NewsColumn {
  display: none;
}

footer.footer {
  display: none;
}

.js-dashboard-widgets-summaries .text-warning {
  color: var(--grey-01) !important;
  font-size: 1rem;
  font-weight: normal;
  padding-left: 1.5rem;
}

.js-dashboard-widgets-summaries .table-summary-wrap {
  padding: 1rem;
}

.js-dashboard-widgets-summaries {
  margin-top: 2rem;
}

@media screen and (min-width: 992px) {
  .js-dashboard-widgets-summaries .table-summary-wrap:not(:first-of-type) {
    margin-left: 1rem;
  }

  .js-dashboard-widgets-summaries {
    display: flex;
    flex-flow: row;
  }
}

.table-summary-title {
  font-size: 1.125rem;
  margin-bottom: 1em;
}

#StatsChart {
  margin-left: 1rem;
  margin-right: 1rem;
}

.table-summary thead th, .table-summary thead td {
  border-bottom: 1px solid var(--content-border);
  color: var(--grey-01);
  font-weight: 600;
  font-size: 1em;
}

.table-data-cell, .table-summary th, .table-summary td, .table-data th, .table-data t-svgd {
  border-bottom: 1px solid var(--content-border);
}

.table-summary-cell-count-comments,
.table-summary-cell-count-bookmarks,
.table-summary-cell-count-views {
  color: var(--violet-01);
  font-weight: 500;

}


/* PHP8+ */
/* Hide unnecessary things from the administrator navigation bar */
[class*=-DashboardTitleBar-classes-brand],
[class*=-DashboardTitleBar-classes-logoContainer],
[class*=-DashboardTitleBar-classes-backBtn],
#flyout-0-handle {
  visibility: hidden;
  /* display: none; */
}

header#titleBar [class*=DashboardTitleBar-classes-container] {
  z-index: 1;
}
